<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akīra</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="shortcut icon" href="images/Akīra.png" type="image/x-icon">
    <script src="scripts/index.js" defer></script>
</head>
<body>
    <progress max="100" value="0" hidden></progress>
    <br>
    <button>
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        &nbsp; Choose File To Upload
    </button>
</body>
</html>