<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akīra</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="Akīra.png" type="image/x-icon">
</head>
<body>
    <progress max="100" value="0"></progress>
    &emsp;
    <button>+</button>
    <script>
        const button = document.querySelector('button')
        const progressBar = document.querySelector('progress')

        button.onclick = async () => {
            const [fileHandle] = await showOpenFilePicker()

            const file = await fileHandle.getFile()
            const formData = new FormData()
            formData.append('file', file)

            const xhr = new XMLHttpRequest({

            })
            xhr.open('POST', '/upload', true)
            xhr.upload.onprogress = e => {
                if (!e.lengthComputable) return
                const percentComplete = (e.loaded / e.total) * 100
                progressBar.value = percentComplete
            }
            xhr.send(formData)
        } 
    </script>
</body>
</html>